In [ ]:
"""
영수증
12,000원

거래번호 1500045945
"""

In [ ]:
url = "/lorem.jpg"